body {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    border: 10px solid black;
}

.flex {
    line-height: 100px;
    height: 100px;
}

.a {
    background-color: antiquewhite;
    height: 100px;
}

.b {
    background-color: burlywood;
    /* flex-grow: 5;  */
}

.c {
    background-color: pink;
    /* flex-grow: 5;
    justify-self: start; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.d {
    background-color: yellowgreen;
}

#article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    height: 100px;
    /* margin-left: 750px; */
    float: right;
}

.f {
    background-color: red;
    /* order: 2; */
    z-index: -1;
}

@media screen and (max-width: 300px) {
    #article {
        flex-direction: column;
    }
    #container {
        border: 10px dashed blueviolet;
    }
}