* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 15px;
    flex-direction: row;
    list-style: none;
    margin-bottom: 20px;
}

/* Flexbox */
section {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    justify-content: space-between ;
    width: 100vw;
}

img {
    width: 120px;
    height: 120px;
    border: 2px solid bisque;
}

.shop {
    /* border: 2px solid salmon; */
    width: 45vw;
    flex-direction: row;
    text-align: center;
    padding: 15px;

}

p {
    padding: 5px;
}

/* .button {
    justify-content: center;
} */