.lorem {
    margin-top: 120px;
    margin-bottom: -120px;
    padding: 150px;
    color: aliceblue;
    font-size: 24px
}

.yaniv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.nav-link {
    color: azure;
}

.navbar-brand {
    color: aliceblue;
}

.mobile {
    display: flex;
    color: azure;
    margin: 100px;
    display: block;
}

.home {
    display: flex;
}