

.flex {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
}

#flex1 {
    align-items: center;
    border: 2px black solid;
    display: inline-flex;
    align-self: center;
}

#flex2 {
    border: 1px black solid;
    display: inline-flex;
    flex-direction: column;
}

#flex3 {
    border: 1px black solid;
    display: inline-flex;
    flex-direction: column;
}
