.innerdiv {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid black;
    margin: 100px auto 0;
    align-items: center;
}

.maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}